/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
    color: #000;
    background-color: #eee;
    padding: 2% 2%;
    width: 100%;
}

.container {

    width: 66.6%;
    padding:5px 5px 5px 5px;
    margin: 0 auto;

}
.container h1 {
    font-weight: 200;
    font-size: 0.75em;
}

/*  ==========================================================================
    RELEVANT TO HTML5-Pixel-Painter 
    Todo: add to own css file
    ========================================================================== */

canvas {


    
}
/*  ==========================================================================
     THEME: Blank
    ========================================================================== */

.toolbox {}

.toolbox > h1 {
    margin-bottom: 5px;
}
.toolbox > p {}

.toolbox > div {}

/*The visual aspect of tool buttons */
.toolbox > .tool {
}

/*The visual aspect of active tools */
.toolbox > .tool-active { 

}

.toolbox:hover {
    cursor: default;
}

/*  ==========================================================================
    END OF BLANK THEME
    ========================================================================== */


/*  ==========================================================================
    THEME: White
    ========================================================================== */

.toolbox {
    float:left;
    font-size: 1em;
    color: #404040;
    background-color: #f5f5f5;    
    text-align: center;
    padding: 2px 3px 2px 3px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.pixel-editor {
    cursor: default;
    border: 1px solid #ccc;
    background: url('../images/trans.png');
    margin: 0px 5px 5px 5px;
    float:left;
}
.toolbox .pixeleditor-modal {
    position:fixed;
    left:40%;
    border-radius: 2px;
    border: 1px solid #aaa;
    padding: 25px 35px 25px 35px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
    
}
.toolbox .pixeleditor-modal hr {
    clear: both;
}
.toolbox .pixeleditor-modal label {
    vertical-align: bottom;
    margin-bottom: 5px;
    margin-top: 4px;
    float:left;
}
.toolbox .pixeleditor-modal input {
    float:right;
    margin-bottom: 5px;
}
.toolbox .pixeleditor-modal .tool {
    margin: 0 0;
    width:45%;
}
.toolbox .pixeleditor-modal .tool:nth-of-type(1) {
    float: right;
}
.toolbox .pixeleditor-modal .tool:nth-of-type(2) {
    background-color: #ddd;
    float: left;
}

.toolbox .column {
    vertical-align: top;
    margin: 0px 1px 0px 1px;
    background-color: #fcfcfc; 
    padding: 20px 0px 25px 0px;
    border: 1px solid #ddd;
    display: inline-block;
}
.toolbox h1 {
    color: #000;
    font-size:0.65em;
}

.toolbox .column h1 {
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid #ddd;
    font-size:1em;
    text-transform: lowercase;
    color: #088;
    font-weight: 200;
    margin-bottom: 5px;
}

.toolbox input {
    width: 66%;
    cursor: pointer;
}

.toolbox div {
    font-size: 0.8em;
}

/*The visual aspect of tool buttons */
.toolbox  .tool  {
    font-size:0.85em;
    padding: 3px 1px 3px 1px;
    margin:0 10% 0 10%;
    background-color: #fafafa;
    border: 1px solid #ccc;
    color: #555;
    border-radius: 2px;
}
.toolbox .tool:hover {
    color:#000;
    cursor: pointer;
    border:1px solid #aaa;
}

/*The visual aspect of active tools */
.toolbox  .tool-active {
    font-size:0.85em;
    padding: 3px 1px 3px 1px;
    margin:0 10% 0 10%;
    color: #088;
    border-radius: 2px; 
    border: 1px solid #0cc;
}
.toolbox ol {
    text-align: left;
    color: #ddd;
}
.toolbox ol li a {
    color: #ff7f7f;

}
.color-grabber {
    cursor: crosshair;
}

.toolbox:hover {
    cursor: default;
}

/* END OF THEME */
/* selectors for jQuery colorpicker plugin */

#colorselector {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    border-radius: 3px;
    width: 30px;
    height: 30px;

    background:48% 48% url('../images/select2.png') no-repeat #f00;
}

#colorselector:hover {
    cursor: pointer;
}

#colorpickerholder {
    position: fixed;
    right: 5%;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}