/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
    font-size: 12px;
    color: #ddd;
    font-weight: 200;
}
body {
    background-color: #363636;
    padding-top: 50px;
    padding-bottom: 25px;
}

.container {
    padding:5px 5px 5px 5px;
    margin: 0 auto;
    width:  66.6%; /* account for borders */
}

/*
    RELEVANT TO HTML5-Pixel-Painter 
    Todo: add to own css file
*/

canvas {
    cursor: crosshair;
    background: url('../images/trans.png');
    border: 1px solid #555;
}


#colorpickerholder {
    position: absolute;
}

#toolbox {
    font-family: "Arial", "Lucida Console", "Segoe UI", "sans-serif";
    font-size: 10px;
    color: #999;
    padding: 5px 10px 10px 10px;
    border-radius: 3px;
    background-color: #363636;
    border: 1px solid #555;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    
}
#toolbox:hover {
    cursor: default;

}
#dimensions {    
    font-weight:bold;
}
#dimensions > span {
    color: #666;
}
#toolbox h2, #toolbox h3 {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width:100%;
    
}
#toolbox h2 {
    font-size: 10px;
    font-weight: 400;
    color: #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #444;
}
#toolbox h3 {
    color: #cbb;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size:8px;

}
#colorselector {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    background:48% 48% url('../images/select2.png') no-repeat;
    background-color: #f00;
    border: 1px solid #363636;

}
#colorselector:hover, #eyedropper:hover {cursor: pointer;}

.tool {
    border: 1px solid #000;
    text-align: center;
    font-weight: 600;
    text-transform: lowercase;
    background-color: #222;
    padding:3px 3px;
    border-radius: 2px;
}
.active {
    color: #fff;
    background-color: #566;

}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}